@media (max-width: 640px){

.abba-card {
width: auto;
padding: 0px;
}
.card-para{
  width: 400px;
padding: 0px;
margin: 30px auto;
}

.copy{
  display: 
}
.abba-futer{
  width: 300px;

}

.mathanost{
  display: none;
}
.vagal{

gap: 6px;

}
.nana{
  padding: 20px;
}
.Bangladesh{
  margin-left: 140px;
}
.nana{
  height: auto;
}

.nostomatha{
  order: 50;
  height: auto;
  padding: 20px;
}


}